extends ../layout

append parameters
	- setParam('section', 'Philosophy')

block header
	link(href='/styles/philosophy/index.css' rel='stylesheet' type='text/css')

block content

	.banner

	ol.philosophies.primary-content-holder
		li.philosophy
			.h1 Purpose

			p Our organization is involved in three primary activities: first, we provide software engineering to businesses, governments, and 
				| non-profit organizations; second, we contribute to the software community through open-source projects; and third, 
				| we engage in software engineering and computer science research.

		li.philosophy
			.h1 Software Quality

			p Quality software is not an impressionistic or nebulous concept, but is rather software which clearly expresses  
				| algorithmic correctness (the software does what it is intended to do), modularity (the code is organized into units which interact through interfaces), and lucidity (easily understood/readable).

			p Practically speaking, our policy is to never cut corners. We will never offer a tradeoff between doing 
				| something right and doing something cheap or fast. Anything worth doing is worth spending the resources to do correctly. Physical engineers 
				| do not offer to cut corners to save short-term costs, and we don't believe software engineers should, either.

		li.philosophy
			.h1 Business

			p Our client relationships are direct, professional, and result-oriented. Our management process is not driven by 
				| marketing buzzwords spun as panacean software development solutions (e.g., 
				| <a href='http://en.wikipedia.org/wiki/Agile_software_development' target='_blank'>Agile</a>, 
				| <a href='http://en.wikipedia.org/wiki/Scrum_(software_development)' target='_blank'>SCRUM</a>, 
				| <a href='http://en.wikipedia.org/wiki/Test-driven_development' target='_blank'>TDD</a>). We do not begin development on 
				| a nebulous, ill-defined goal and reshape it weekly to meet changing expectations.

			p Moreover, we largely reject the indefinite development process prevalent among applications today. For business applications, we 
				| don't release software while it is still under 'active development' in order to 'see how 
				| people react to the idea,' nor do we hack together 'quick solutions' which require ever-increasing maintenance over the 
				| following decade.

			p Rather, in our project management model, we discuss and agree upon a set of project requirements. After 
				| the requirements are well-understood, we estimate the development costs, and upon agreement, will begin. 
				| When active development finishes, we expect you to test the software with us.

			p During this testing phase (typically 1-2 months) is when our most rigorous quality assurance guarantees apply:
				| any bugs you find in the software will be fixed at no cost. If core requirements are demonstrably failing, 
				| report this to us. After the testing phase, we perform final quality assurance guarantees. At this point, if core functionality 
				| is still demonstrably failing in ways which you previously reported during testing, you are offered to declare the project a failure 
				| and be refunded for all its software development costs.

			p After you have finished testing the software, a final version will be released and implemented for production use. And 
				| at this point, the project is <em>finished</em>.

		li.philosophy
			.h1 Hiring

			p If you are someone who writes code because the field pays well, are happy to use open-source software, but 
				| have never written an open-source project before, you are not the type of person we're looking for.

			p If you write quality software in your free time and open-source it because you actually enjoy writing 
				| software and contributing to the world, you are exactly who we're looking for. There is not a single 
				| person at our company in any position (including management) who does not have at least one open-source project, 
				| so we can assure you that we are not a merely predatory corporation seeking to take advantage of you: but don't take 
				| our word for that, check out <a href='https://github.com/PGCT1' target='_blank'>our repositories</a> and see for yourself.

		li.philosophy
			.h1 Charity

			p We do our best to regularly contribute software engineering resources to non-profit organizations, typically under the 
				| stipulation that all software produced remain open-source and publicly visible. You can view some of them on our <a href='/projects'>projects</a> page or 
				| our <a href='https://github.com/PGCT1'>GitHub</a>.

		li.philosophy
			.h1 Security

			p We understand how to work on high-security projects, and will collaborate over <a href='/public-key.pgp' target='_blank'>secure communication channels</a> 
				| as our clients wish.

			p Even on standard projects, we try to encourage good security practices, which include keeping production and development 
				| credentials separate, communicating credentials through secure channels, and appropriately 
				| maintaining certificates.

	a#contact(href='#') CONTACT US

