extends ../layout

block title
	title Philosophy - Project Gemini: Top-Quality, Cutting-Edge Software Engineering

block header
	link(href='http://fonts.googleapis.com/css?family=Montserrat|Lato:100,300' rel='stylesheet' type='text/css')
	link(href='/styles/philosophy/index.css' rel='stylesheet' type='text/css')

block content
	philosophies
		container
			philosophy
					topic On Business<br>
					text ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf

			philosophy
					topic On Business<br>
					text ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf

			philosophy
					topic On Business<br>
					text ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf ADSfj akl fjaskdfalsda fjsldjlda fjsldjlsdka jlsd asld fajlsda jldka jlsdkf

