@import 'slides/slide3.less';
@import 'slides/slide2.less';
@import 'slides/slide1.less';

.h1{
	display:block;
	font-family:Montserrat;
	font-weight:normal;
	text-align:center;
	text-shadow: 0px 0px 6px rgba(0,0,0,.7);
	font-size:64px;
	line-height:86px;

	@media(max-width:768px){
		font-size:36px;
		line-height:44px;
	}

}

.h2{
	display:block;
	text-align:center;
	font-size:22px;
	line-height:33px;
}

nobreak{
	display:inline;
	white-space:nowrap;
}
