header#top.navbar.navbar-static-top.bs-docs-nav(role="banner")
  .container
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".bs-navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#mainlogo.navbar-brand(href="/")
        span.word1 Project
        span.word2 Gemini
    nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/philosophy") Philosophy
        li
          a(href="/projects") Projects
        li
          a(href="/team") Team
        li
          a(href="/blog") Blog