
// jQuery
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

// Bootstrap
script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

// Angular
script(type="text/javascript", src="/js/angular.min.js")

// Angular touch
script(type='text/javascript' src='/js/angular-touch.min.js')
