extends ../layout

append parameters
	- setParam('section', 'Team')
	- var members = [{profileImageUrl:'img1','name':'name1',biography:'biography 1'},{profileImageUrl:'img2','name':'name2',biography:'biography 2'}]

block header
	link(href='/styles/team/index.css' rel='stylesheet' type='text/css')

block content

	.banner

	ol.members.primary-content-holder

		each member in members

			li.member

				.profile-image(style='background:url(#{member.profileImageUrl})')

				.name= member.name
				
				p.biography= member.biography
