extends ../layout

append parameters
	- setParam('section', 'Team')

block header
	link(href='/styles/team/index.css' rel='stylesheet' type='text/css')

block content

	.banner

	ol.memberes.primary-content-holder
		li.member