extends ../layout

append parameters
	- setParam('title', 'Gemini: Software Engineering. Absolute Perfection.')

block header

	link(href='/styles/index/index.css' rel='stylesheet' type='text/css')

	script(src='/js/index.js' type='text/javascript')

block content
	ol.slides
		li
			include slides/opening
		li
			include slides/register-project