@import (reference) '../index.less';

#indexSlides > slide1{
	text-align:center;
	color:white;
	display:block;
	background-color:black;
	background-repeat:no-repeat;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:15px;
	background-image:url(/images/index/slide1/Earth-1260.jpg);
	background-position:center;

	.anchor{
		height:1px;
	}

	slogan{
		.h1;
		margin-top:50px;

		@media(min-width:1025px){
			font-size:86px;
			line-height:110px;
			margin-top:85px;
		}

	}

	description{
		.h2;
		color:white;
		text-shadow: 0px 0px 6px rgba(0, 0, 0, 1.0);
		font-family:Montserrat;
		margin-top:100px;
		margin-bottom:80px;
		font-size:32px;
		line-height:44px;

		@media(max-width:768px){
			font-size:22px;
			line-height:33px;
			font-weight:300;
			margin-top:60px;
			margin-bottom:40px;
		}

	}

	features{
		display:block;
		text-align:center;
		background-color:rgba(0,0,0,.8);

		feature{
			display:inline-block;
			text-align:left;
			min-width:400px;
			max-width:450px;
			width:28%;
			margin:30px;

			img{
				float:left;
				margin:10px;
				margin-top:0px;
				width:64px;
				height:64px;
			}

			header{
				font-family:Montserrat;
			}

			@media(max-width:700px){
				min-width:200px;
				text-align:center;

				img{
					display:block;
					margin-left:auto;
					margin-right:auto;
					float:none;
				}
			}

		}

	}

	@media(max-width:1490px){
		features{
			feature{
				width:40%;
			}
		}
	}

	@media(max-width:1030px){
		features{
			feature{
				width:65%;
				max-width:600px;
			}
		}
	}

	@media(max-width:480px){
		padding-left:7px;
		padding-right:7px;
		background-image:url(/images/index/slide1/Earth-1260-mobile.jpg);
		background-width:100%;
		background-position:top;
	}

	@media(min-width:769px){
		padding-bottom:70px;
	}

}
