
.opening-slide
	.main-center-block
		.logo
		.headers
			.title Gemini
			.subtitle
				.no-wrap Software Engineering.
				.no-wrap Absolute perfection.
	.links
		a(href='/philosophy') Philosophy
		a(href='/projects') Projects
		a(href='/team') Team
		a(href='/blog') Blog
