
.register-project
	.h1 Have a project for us?

	form
		.section
			.field
				label Name
				textarea(placeholder='Your name')
			.field
				label Organization
				textarea(placeholder='Your company or organization')
			.field
				label Contact
				textarea.medium(placeholder='Your contact information')

		.section
			.field
				label Description
				textarea.big(placeholder='A brief description summarizing your project')

		a.greenButton(href='#') SUBMIT PROJECT REQUEST
