.h1 Working With Us
sections
	section
		.h2 You keep talking about quality, why should I trust you?
		text Our open source projects, which include even this very site, are publicly 
			| visible <a href='https://github.com/PGCT1' target='_blank'>on Github</a>. We encourage you 
			| to look at the code yourself (or contract an independent consultant to do so for you) and 
			| make your decision; there's no need to trust our marketing team.
	section
		.h2 Will you write code in other languages/frameworks besides Node.js?
		text When appropriate, yes; we will always use the right tool for the right job, and 
			| Node.js is not a panacea. When Node is inappropriate (e.g., in applications where network IO is not the 
			| primary bottleneck) or unavailable (native mobile apps), we typically write in <a href='http://en.wikipedia.org/wiki/C%2B%2B11' target='_blank'>C++1x</a> 
			| with <a href='http://en.wikipedia.org/wiki/Qt_(software)' target='_blank'>Qt</a> or <a href='http://en.wikipedia.org/wiki/Boost_(C%2B%2B_libraries)' target='_blank'>Boost</a>.
	section
		.h2 Will you add features to/clean up my legacy application?
		text Probably not. In proprietary applications, even for very large organizations, legacy code is often 
			| bug-ridden and of very poor structural quality due to years of bad maintenance and disinclination to pay mounting 
			| <a href='http://en.wikipedia.org/wiki/Technical_debt' target='_blank'>technical debt</a>. The best course 
			| of action is to rewrite the application properly, with clean, <a href='http://en.wikipedia.org/wiki/Unit_testing' target='_blank'>well-tested</a> 
			| code.
	section
		.h2 What types of projects do you accept?
		text Unlike many software companies, we do not target mass market apps or social media trends; we 
			| are not a marketing company. Rather, we focus primarily on software for use within an organization. For example, 
			| we've written software systems for everything from internal accounting, to shipping order processing, to automated 
			| food ordering, to company security, and even quality assurance frameworks for internal training of the company's engineers.
	section
		.h2 How does project management work?
		text Depending on the scale of the project, one or more teams will be assigned to you, along with a team manager  
			| who is a lead software engineer of one of the teams and directly responsible for their performance. The 
			| team manager will be able to answer (or at least understand and forward) any technical questions you have, as we do 
			| not hire non-technical management.
	section
		.h2 How does payment work?
		text We accept fixed-amount contracts, as well as provide services at a base rate of $200/hour per team. The amount of 
			| teams necessary at any given time will be clearly communicated to you: you will find no surprises in our accounting; we're 
			| a software engineering company, not a bank.

a#contact(href='#') CONTACT US
