.anchor
slogan Brilliant, <nobreak>World-Class</nobreak><br>Software Engineering
description <nobreak>Enterprise applications,</nobreak> <nobreak>modern standards,</nobreak> <nobreak>absolute perfection.</nobreak>

features
	feature
		img(src='/images/index/slide1/nuclear_atom_atomic.png')
		header Quality Software
		text Quality is an absolute priority for us. No compromises.

	feature
		img(src='/images/index/slide1/white-lightning-bolt-hi.png')
		header Cutting-Edge
		text We fully embrace modern frameworks and engineering standards.

	feature
		img(src='/images/index/slide1/globe.png')
		header Community
		text We strongly support open-source and charitable organizations.