@import (reference) '../global.less';

body{
	.light-background;
	padding-bottom:100px;

	a{
		color:@light-theme-link-color;
	}

	a:hover{
		color:@light-theme-link-color-hover;
	}

	#contact{
		background-color:@light-theme-link-color;
	}

	#contact:hover{
		background-color:@light-theme-link-color-hover;
	}

	banner{
		background-image:url('/images/index/slide1/cityscapes-night_00292708.jpg');
		background-position-y:-300px;
	}

	projects{
		display:block;
		font-family:@light-readable-text;
		text-align:center;
		padding:15px;

		project{
			display:block;
			text-align:left;
			vertical-align:top;
			max-width:600px;
			margin:15px;
			margin-left:auto;
			margin-right:auto;

			title{
				.h1;
				display:block;
				margin-top:20px;
				margin-bottom:20px;
			}

			a.github{
				img{
					margin-top:-6px;
					width:18px;
				}
			}

			description{
				display:block;
				margin-top:20px;

				p{
					margin-bottom:25px;
				}

				img.code{
					display:block;
					margin-left:auto;
					margin-right:auto;
					border:3px double lighten(@light-theme-link-color,30%);
				}

			}

			a.fullProfile{
				display:block;
				width:192px;
				text-align:center;
				margin-left:auto;
				margin-right:auto;
				background-color:darken(#42ca52, 10%);
				padding:15px;
				color:white;
				margin-top:40px;
				margin-bottom:40px;
			}

			a.fullProfile:hover{
				background-color:#42ca52;
			}

		}

	}

	@media(max-width:@max-phone-resolution){
		projects{
			project{
				description{
					img{
						width:187px;
					}
				}
			}
		}
	}

	@media(min-width:@min-desktop-resolution){
		projects{
			project{
				title{
					font-size:49px;
					line-height:59px;
				}
			}
		}
	}

}
