@import (reference) '../global.less';

body{
	padding-bottom:100px;

	ol.projects{

		li.project{

			a.github{

				img{
					margin-top:-6px;
					width:18px;
				}
				
			}

			.description{
				margin-top:20px;

				p{
					margin-bottom:25px;
				}

				img.code{
					display:block;
					margin-left:auto;
					margin-right:auto;
					border:3px double lighten(@light-theme-link-color,30%);
				}

			}

			a.fullProfile{
				display:block;
				width:192px;
				text-align:center;
				margin-left:auto;
				margin-right:auto;
				background-color:darken(#42ca52, 10%);
				padding:15px;
				color:white;
				margin-top:40px;
				margin-bottom:40px;
			}

			a.fullProfile:hover{
				background-color:#42ca52;
			}

		}

	}

	@media(max-width:@max-phone-resolution){
		ol.projects{
			li.project{
				.description{
					img{
						width:187px;
					}
				}
			}
		}
	}

}
