
body{
		background:url('/images/philosophy/WFzYs.jpg');

		philosophies{
			display:block;
			color:white;
			width:98%;
			margin-left:auto;
			margin-right:auto;
			border:1px solid rgba(0,0,0,.8);
			padding:2px;
			margin-top:2px;
			margin-bottom:2px;

			> container{
				display:block;
				background-color:rgba(0,0,0,.5);
			}

			philosophy{
				display:block;
				min-height:340px;
				background-color:rgba(0,0,0,.6);
				padding:8px;
				margin:2px;

			}

		}

}
