@import (reference) '../global.less';

body{
	.light-background;
	padding-bottom:100px;

	a{
		color:@light-theme-link-color;
	}

	a:hover{
		color:@light-theme-link-color-hover;
	}

	#contact{
		background-color:@light-theme-link-color;
	}

	#contact:hover{
		background-color:@light-theme-link-color-hover;
	}

	banner{
		display:block;
		height:150px;
		background-image:url('/images/philosophy/mobile-banner.jpg');
		background-size:auto 100%;
	}

	philosophies{
		font-family:@light-readable-text;
		display:block;
		text-align:center;

		philosophy{
			display:inline-block;
			text-align:left;
			vertical-align:top;
			max-width:550px;
			margin:15px;

			topic{
				.h1;
				display:block;
				margin-bottom:25px;
				margin-left:-2px;
				margin-top:20px;
			}

			text{
				display:block;
			}

		}

	}

	@media(min-width:@min-tablet-resolution){
		banner{
			background-image:url('/images/splash.jpg');
			background-position:0px -700px;
			background-size:auto auto;
		}
	}

	@media(min-width:@min-desktop-resolution){
		philosophies{
			philosophy{
				topic{
					font-size:49px;
					line-height:59px;
				}
			}
		}
	}

}
