@import 'components/index.less';

// theme variables

@primary-color:#3A6399;
@link-color:#4381B7;

@light-theme-link-color:#428bca;
@light-theme-link-color-hover:#2a6496;

@min-desktop-resolution:1025px;
@max-tablet-resolution:1024px;
@min-tablet-resolution:551px;
@max-phone-resolution:550px;

li{
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	list-style-type:none;
}

// universal layout

html{
	height:100%;
}

body{

	@footer-height:28px;

	position:relative;
  min-height:100%;
  padding-bottom:@footer-height;

	panel{
		display:inline-block;
		padding:2px;
		border:1px solid rgba(0,0,0,.5);

		inside{
			display:block;
			background-color:rgba(0,0,0,.8);
		}

	}
	
	a{
		text-decoration:none;
	}

	a:hover{
		text-decoration:none;
	}

	#mainlogo{
		
		.word1{
			color:@primary-color;
		}

		.word2{
			color:white;
		}

	}

	font-family: 'Open Sans',sans-serif;
	font-size: 18px;
	line-height:28px;
	font-weight: 300;
	.light-background;
	padding-bottom:100px;

	.navbar{
		margin-bottom:0px;
	}

	footer{
		position:absolute;
		bottom:0px;
		width:100%;
		display:block;
    vertical-align:bottom;
		background-color:black;
		text-align:center;
		font-size:14px;
		color:#ddd;
		height:@footer-height;
		margin-top:-1*@footer-height;
	}

	#contact{
		font-size: 18px;
		line-height:28px;
		font-weight: 300;
		color:white;
		display:block;
		cursor:hand;
		cursor:pointer;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		padding-top:25px;
		height:75px;
		width:250px;
		background-color:#325baa;
		margin-top:30px;
	}

	#contact:hover{
		background-color:#426bba;
	}

}
