
@primary-color:#428bca;

//bootstrap overloads

.icon-bar{
	background-color:white;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color:transparent;
}

@media (min-width: 768px){
	.container{
		width:747px;
	}
}

#top{
	background-color:black;
}

//layout

body{
	
	a{
		text-decoration:none;
	}

	a:hover{
		text-decoration:none;
	}

	#mainlogo{
		
		.word1{
			color:@primary-color;
		}

		.word2{
			color:white;
		}

	}


	.navbar{
		margin-bottom:0px;
	}

}
