extends ../layout

append parameters
	- setParam('section', 'Projects')


mixin github(url)
	a.github(href=url target='_blank')
		img(src='/images/icons/external-128.png')
		|  GitHub

mixin codeLink(url)
	a(href=url target='_blank')
		img.code(src=url)

block header
	link(href='/styles/projects/index.css' rel='stylesheet' type='text/css')

block content
	.banner

	ol.projects.primary-content-holder
		li.project
			.h1 Project Gemini Site
			+github('https://github.com/PGCT1/home-site')
			.description
				p Our main site is a clean, streamline demonstration of how we write responsive, cross-platform applications. It's written in 
					| <a href='https://github.com/joyent/node' target='_blank'>Node.js</a>, with primary frameworks  
					| <a href='https://github.com/balderdashy/sails' target='_blank'>Sails</a> (backend), 
					| <a href='https://github.com/angular/angular.js' target='_blank'>Angular</a> (frontend), and 
					| <a href='https://github.com/visionmedia/mocha' target='_blank'>Mocha</a> (testing). It also makes use of our 
					| <a href='https://github.com/PGCT1/sails-proto' target='_blank'>MVC prototypes</a>, which you may find described elsewhere on this projects page.
				p The end result is code written on a very high level of abstraction, allowing for semantically clear markup, 
					| expressive, application-level MVC, and a modern REST api should we ever wish to extend to other front-end clients.
				
				+codeLink('/images/projects/code.png')

			a.fullProfile(href='#') View Full Profile

		li.project
			.h1 Sails MVC Prototypes
			+github('https://github.com/PGCT1/sails-proto')
			.description
				p Many projects utilize the same application-level components with little or no deviation in the necessary 
					| implementation. For example, nearly every application implements the concept of a user, which virtually 
					| always comes packaged with some sort of concept of uniqueness (maybe email, username, or an id), authentication (a password, database hash storage), 
					| short-lived sessions, and data access control.
				p Rather than reinvent the wheel for every application, we decided to factor these common components out 
					| into an MVC prototype library.

			a.fullProfile(href='#') View Full Profile

	a#contact(href='#') CONTACT US

