extends ../layout

append parameters
	- setParam('section', 'Projects')


mixin github(url)
	a.github(href=url) GitHub


block header
	link(href='/styles/projects/index.css' rel='stylesheet' type='text/css')

block content
	projects
		project
			title Project Gemini Main Site
			+github('https://github.com/PGCT1/home-site')
			description
				p Our main site is a clean, streamline example of how we write client-server applications. Its primary frameworks are 
					| Sails (backend), Angular (frontend), and Mocha (testing). It also makes use of our internally-developed 
					| templates, which you may find described elsewhere on this projects page.
				p The end result is code written on a very high level of abstraction, resulting in semantically clear code.

	a#contact(href='#') CONTACT US

