information-slide.slide

  .features

    .feature
      .text
        .header Streaming
        .description
          p Ambian monitors many different sources on the internet and aggregates
            | them into live datastreams which it delivers to you. Sources include
            | everything from social media, to major news corporations, to
            | official sources, and everything in between.

          p Ambian finds an enormous amount of data (far more than a human can
            | consume!), and as such, works very hard to sift and choose the
            | best results.

      .img.desktop(style='background-image:url(/images/ambian-promo/instant-black.svg)')

    .feature
      .img.desktop(style='background-image:url(/images/ambian-promo/soul-kitchen.svg)')
      .text
        .header Soul Kitchen Model
        .description
          p Ambian's payment model is inspired by the <a
            | href="http://www.jbjsoulkitchen.org/en">Jon Bon Jovi Soul Kitchen</a>.
            | At the Soul Kitchen, meals are provided to everyone, and customers
            | pay what they are able and deem appropriate. It's true, some are
            | unable to pay, but they still deserve to eat (and watch news streams!) as
            | much as anyone else.

    .feature
      .text
        .header Open-source
        .description
          p In the spirit of the payment model, Ambian is also
            | 100% open-source (you can find it on our <a
            | href="http://github.com/PGCT1">Github account</a>.) The
            | client project is written Jade, SaSS, and AngularJS on top of PhoneGap,
            | Sails, and Ionic. The backend is written in Google Go.

      .img.desktop(style='background-image:url(/images/ambian-promo/open-source-black.svg);margin-top:-41px;margin-bottom:-35px;')

    .feature
      img.desktop(src='/images/ambian-promo/logo-light.png')
      .text
        .header About Us
        .description
          p Ambian was developed at Gemini, a software engineering
            | company dedicated to producing software of supreme quality.
