splash-slide.slide

  img.iPhone.screenMoreThan800(src='/images/ambian-promo/iphone.png')

  splash-text

    ambian-logo

    h2 The world speaks. Listen.

    .features

      .feature
        img.icon(src='/images/ambian-promo/instant.svg')
        .description Bleeding-edge information streams

      .feature
        img.icon(src='/images/ambian-promo/soul-kitchen.svg')
        .description Soul Kitchen payment model

      .feature
        img.icon(src='/images/ambian-promo/open-source.svg')
        .description 100% open source

    a.androidStore(href='#', style='background-image:url(/images/ambian-promo/available-on-android.png);')

  img.iPhone.screenLessThan800(src='/images/ambian-promo/iphone.png')
